* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 80px; */
  background: #f5f5f5;
  z-index: 9;
}

.nav {
  padding: 10px 10vm;
  display: flex;
  justify-content: space-between;
  margin-left: 20vw;
  margin-right: 20vw;
}

.brand-logo {
  height: 60px;
  margin-left: 10px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.search {
  width: 500px;
  display: flex;
}
.search-box {
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: none;
  color: #a9a9a9;
  outline: none;
}

.search-btn {
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-box::placeholder {
  color: #a9a9a9;
}

.nav-items a {
  margin-left: 20;
}

.nav-items a img {
  height: 30%;
  margin-right: 10px;
  margin-left: 10px;
}
